[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "~=0.971"
tqdm = "*"
types-all = "*"
dateparser = "~=1.1"
pyrsistent = "*"
plotly = "~=5.10"
pandas = "~=1.4"
ipywidgets = "~=8.0"
datasets = "~=2.8"
transformers = "~=4.25"
wandb = "~=0.13"
libcst = "~=0.4.9"
scikit-learn = "*"
matplotlib = "~=3.5"
pytorch-lightning = "~=1.8"
colored = "~=1.4"
ipykernel = "*"
termcolor = "~=1.0"
prettytable = ">=3.4.1"
nltk = "*"
spot = {editable = true, path = "."}
jsonrpclib = "*"
jsonrpcserver = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
