[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "~=0.971"
tqdm = "*"
dateparser = "~=1.1"
pyrsistent = "*"
plotly = "~=5.10"
pandas = "~=1.4"
torch = ">=1.12"
ipywidgets = "~=8.0"
datasets = "~=2.8"
transformers = "~=4.25.1"
wandb = "~=0.13"
libcst = "~=0.4.9"
scikit-learn = "*"
matplotlib = "~=3.5"
colored = "~=1.4"
termcolor = "~=1.0"
prettytable = "~=3.4.1"
nltk = "~=3.8.1"
ipykernel = "*"
spot = {editable = true, path = "."}
jsonrpcserver = "~=5.0.9"
jedi = "*"
parso = "*"

[dev-packages]
pytest = "*"
black = "*"
snakeviz = "*"
line-profiler = "*"

[requires]
python_version = "3.11"
